* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
}

.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: rgb(255, 195, 117);
    border: none;
    display: inline-block;
    padding: .5rem 1rem;
    margin: .3rem;
    font-size: 1.5 rem;
    width: 50px;
    height: 50px;
    border-radius: .5rem;
}

.backspace,
.mayus,
.space {
    font-size: 1rem;
    text-transform: capitalize;
}

.backspace {
    width: 100px;
}

.mayus {
    width: 70px;
}

.space {
    width: 400px;
}

.textAreaContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2 rem;
}

textarea {
    width: 100%;
    height: 150px;
    resize: none;
}

.upper {
    text-transform: uppercase;
}
